<div class="socialMedia">
        <a href="https://github.com/andrekdev" target="_blank"><img alt="Windows Terminal" src="https://img.shields.io/badge/Github-100000?style=for-the-badge&logo=Github&logoColor=7759"/></a>    
        <a href="https://andrekwebs.vercel.app/" target="_blank"><img alt="Windows Terminal" src="https://img.shields.io/badge/INFO-MINHAS REDES-100000?style=for-the-badge&logo=Windows Terminal&logoColor=7759"/></a>    

</div>